<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{title}}</title>
</head>
<body>
	<mat-toolbar class="header_nav">
		{{title}}
		<button mat-raised-button color="warn" class="new_producto" (click)="openPanelNewProduct()">
			<mat-icon matSuffix>add_circle_outline</mat-icon>
			Nuevo Producto
		</button>
	</mat-toolbar>
	<br><br><br><br>
	<div class="container">
		<mat-card>
			<mat-toolbar>
				Filtros de busqueda
			</mat-toolbar>
			<br>
			<mat-form-field appearance="outline">
				<mat-label>Filtro por Codigo</mat-label>
				<input matInput placeholder="Escribe un codigo" [(ngModel)]="paramsGetProducts.code" (ngModelChange)="getProducts()">
				<mat-icon matSuffix>search</mat-icon>
			</mat-form-field>
			<mat-form-field appearance="outline" class="margin_name_filter">
				<mat-label>Filtro por Nombre</mat-label>
				<input matInput placeholder="Escribe un nombre" [(ngModel)]="paramsGetProducts.name" (ngModelChange)="getProducts()">
				<mat-icon matSuffix>search</mat-icon>
			</mat-form-field>
		</mat-card>
	</div>
	<mat-progress-bar mode="indeterminate" *ngIf="getProductsLoad"></mat-progress-bar>
	<table mat-table [dataSource]="products" class="mat-elevation-z8" *ngIf="!getProductsLoad">	  
		<ng-container matColumnDef="id">
			<th mat-header-cell *matHeaderCellDef> Id </th>
			<td mat-cell *matCellDef="let element"> {{element.id}} </td>
		</ng-container>
	  
		<ng-container matColumnDef="code">
			<th mat-header-cell *matHeaderCellDef> Codigo </th>
			<td mat-cell *matCellDef="let element"> {{element.code}} </td>
		</ng-container>
	  
		<ng-container matColumnDef="name">
			<th mat-header-cell *matHeaderCellDef> Nombre </th>
			<td mat-cell *matCellDef="let element"> {{element.name}} </td>
		</ng-container>
	  
		<ng-container matColumnDef="stock">
			<th mat-header-cell *matHeaderCellDef> Stock </th>
		  	<td mat-cell *matCellDef="let element"> {{element.stock}} </td>
		</ng-container>

		<ng-container matColumnDef="transacciones">
			<th mat-header-cell *matHeaderCellDef> Transacciones </th>
		  	<td mat-cell *matCellDef="let element"> 
				<mat-icon class="open_product_transactions" (click)="openProductTransactions(element)" matSuffix>compare_arrows</mat-icon>
			</td>
		</ng-container>
	  
		<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
		<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
	</table>
	<br>
	<br>
	<!-- PANEL NEW PRODUCT -->
	<div [ngClass]="{'panel_new_producto_open': panelNewProductoState, 'panel_new_producto_close': !panelNewProductoState}">
		<mat-toolbar class="header_nav_new_product">
			Nuevo Producto
			<button mat-raised-button color="warn" class="new_producto_close" (click)="closePanelNewProduct()">
				<mat-icon matSuffix>close</mat-icon>
			</button>
		</mat-toolbar>
		<br>
		<div class="form">
			<mat-form-field appearance="outline">
				<mat-label>Codigo</mat-label>
				<input matInput placeholder="Codigo del producto" [(ngModel)]="newProduct.code">
				<mat-icon matSuffix>create</mat-icon>
			</mat-form-field>
			<br>
			<mat-form-field appearance="outline">
				<mat-label>Nombre</mat-label>
				<input matInput placeholder="Nombre del producto" [(ngModel)]="newProduct.name">
				<mat-icon matSuffix>create</mat-icon>
			</mat-form-field>
			<br>
			<mat-form-field appearance="outline">
				<mat-label>Cantidad inicial</mat-label>
				<input matInput placeholder="Cantidad del producto" [(ngModel)]="newProduct.stock">
				<mat-icon matSuffix>create</mat-icon>
			</mat-form-field>
			<mat-form-field appearance="outline" *ngIf="validateNewProductStock()">
				<mat-label>Precio de entrada</mat-label>
				<input matInput placeholder="Precio del producto" [(ngModel)]="newProduct.price">
				<mat-icon matSuffix>create</mat-icon>
			</mat-form-field>
			<br>
			<mat-progress-bar mode="indeterminate" *ngIf="createProductLoad"></mat-progress-bar>
			<button *ngIf="!createProductLoad" mat-raised-button color="warn" (click)="createProduct()">
				<mat-icon matSuffix>add</mat-icon>
				Crear
			</button>
		</div>
	</div>
	<!-- PANEL NEW PRODUCT -->
	<!-- PANEL TRANSACTIONS -->
	<div [ngClass]="{'panel_transactions_open': panelTransactionsState, 'panel_transactions_close': !panelTransactionsState}">
		<mat-toolbar class="header_nav_transactions" *ngIf="currentProduct.name">
			<mat-chip-list aria-label="Stock">
				<mat-chip color="accent" selected>{{currentProduct.stock}}</mat-chip> 
			</mat-chip-list>
			<span class="header_nowrap">{{currentProduct.name}}</span>
			<button mat-raised-button color="warn" class="transactions_close" (click)="closePanelNewTransactions()">
				<mat-icon matSuffix>close</mat-icon>
			</button>
		</mat-toolbar>
		<mat-form-field class="date_transactions">
			<mat-label>Fecha</mat-label>
			<input matInput [matDatepicker]="dp3" disabled [(ngModel)]="dateTransactions" (ngModelChange)="getTransactionInput();getTransactionOutput()">
			<mat-datepicker-toggle matSuffix [for]="dp3"></mat-datepicker-toggle>
			<mat-datepicker #dp3 disabled="false"></mat-datepicker>
		</mat-form-field>
		<mat-tab-group>
			<mat-tab>
				<ng-template mat-tab-label>
					<mat-icon class="example-tab-icon">arrow_downward</mat-icon>
					Entradas
				</ng-template>
				<mat-expansion-panel>
					<mat-expansion-panel-header>
						<mat-panel-title>
							Nueva entrada
						</mat-panel-title>
						<mat-panel-description>
							Ingreso a inventario
						</mat-panel-description>
					</mat-expansion-panel-header>
					<div class="form2">
						<mat-form-field appearance="outline">
							<mat-label>Cantidad</mat-label>
							<input matInput placeholder="Cantidad del producto" [(ngModel)]="inputTransaction.stock">
							<mat-icon matSuffix>create</mat-icon>
						</mat-form-field>
						<br>
						<mat-form-field appearance="outline">
							<mat-label>Precio de entrada</mat-label>
							<input matInput placeholder="Precio del producto" [(ngModel)]="inputTransaction.price">
							<mat-icon matSuffix>create</mat-icon>
						</mat-form-field>
						<mat-progress-bar mode="indeterminate" *ngIf="transactionInputLoad"></mat-progress-bar>
						<button *ngIf="!transactionInputLoad" mat-raised-button color="warn" (click)="transactionInput()">
							<mat-icon matSuffix>add</mat-icon>
							Enviar
						</button>
					</div>
				</mat-expansion-panel>
				<mat-progress-bar mode="indeterminate" *ngIf="getTransactionInputLoad"></mat-progress-bar>
				<table mat-table [dataSource]="inputsTransactions" class="mat-elevation-z8" *ngIf="!getTransactionInputLoad">	  
					<ng-container matColumnDef="id">
						<th mat-header-cell *matHeaderCellDef> Id </th>
						<td mat-cell *matCellDef="let element"> {{element.id}} </td>
					</ng-container>
				
					<ng-container matColumnDef="stock">
						<th mat-header-cell *matHeaderCellDef> Stock </th>
						<td mat-cell *matCellDef="let element"> {{element.stock}} </td>
					</ng-container>
				
					<ng-container matColumnDef="price">
						<th mat-header-cell *matHeaderCellDef> Precio </th>
						<td mat-cell *matCellDef="let element"> {{element.price | currency}} </td>
					</ng-container>
				
					<ng-container matColumnDef="date">
						<th mat-header-cell *matHeaderCellDef> Fecha </th>
						<td mat-cell *matCellDef="let element"> {{element.date}} </td>
					</ng-container>
				
					<tr mat-header-row *matHeaderRowDef="displayedColumnsTransactions"></tr>
					<tr mat-row *matRowDef="let row; columns: displayedColumnsTransactions;"></tr>
				</table>
				<br>
				<br>
			</mat-tab>
		
			<mat-tab>
				<ng-template mat-tab-label>
					<mat-icon class="example-tab-icon">arrow_upward</mat-icon>
					Salidas
				</ng-template>
				<mat-expansion-panel>
					<mat-expansion-panel-header>
						<mat-panel-title>
							Nueva salida
						</mat-panel-title>
						<mat-panel-description>
							Salida de inventario
						</mat-panel-description>
					</mat-expansion-panel-header>
					<div class="form2">
						<mat-form-field appearance="outline">
							<mat-label>Cantidad</mat-label>
							<input matInput placeholder="Cantidad del producto" [(ngModel)]="outputTransaction.stock">
							<mat-icon matSuffix>create</mat-icon>
						</mat-form-field>
						<br>
						<mat-form-field appearance="outline">
							<mat-label>Precio de salida</mat-label>
							<input matInput placeholder="Precio del producto" [(ngModel)]="outputTransaction.price">
							<mat-icon matSuffix>create</mat-icon>
						</mat-form-field>
						<mat-progress-bar mode="indeterminate" *ngIf="transactionOutputLoad"></mat-progress-bar>
						<button *ngIf="!transactionOutputLoad" mat-raised-button color="warn" (click)="transactionOutput()">
							<mat-icon matSuffix>add</mat-icon>
							Enviar
						</button>
					</div>
				</mat-expansion-panel>
				<mat-progress-bar mode="indeterminate" *ngIf="getTransactionOutputLoad"></mat-progress-bar>
				<table mat-table [dataSource]="outputsTransactions" class="mat-elevation-z8" *ngIf="!getTransactionOutputLoad">	  
					<ng-container matColumnDef="id">
						<th mat-header-cell *matHeaderCellDef> Id </th>
						<td mat-cell *matCellDef="let element"> {{element.id}} </td>
					</ng-container>
				
					<ng-container matColumnDef="stock">
						<th mat-header-cell *matHeaderCellDef> Stock </th>
						<td mat-cell *matCellDef="let element"> {{element.stock}} </td>
					</ng-container>
				
					<ng-container matColumnDef="price">
						<th mat-header-cell *matHeaderCellDef> Precio </th>
						<td mat-cell *matCellDef="let element"> {{element.price | currency}} </td>
					</ng-container>
				
					<ng-container matColumnDef="date">
						<th mat-header-cell *matHeaderCellDef> Fecha </th>
						<td mat-cell *matCellDef="let element"> {{element.date}} </td>
					</ng-container>
				
					<tr mat-header-row *matHeaderRowDef="displayedColumnsTransactions"></tr>
					<tr mat-row *matRowDef="let row; columns: displayedColumnsTransactions;"></tr>
				</table>
				<br>
				<br>
			</mat-tab>
		</mat-tab-group>
	</div>
	<!-- PANEL TRANSACTIONS -->
</body>
</html>